# auto-import.
*.iws
out/
.idea/**
.idea/
*.iml
**/*.iml


**/build
/build
/build/**
**/last-stable
/last-stable
/last-stable/**
/bin/**
/bin/
**/bin/**
**/bin/
/build/
.settings/
.settings/**
*/.settings/
*/.settings/**
*/.classpath
**/.classpath
/.gradle/
**/.gradle/
.metadata/
.metadata/**
jrebel_path.dat
**/src/main/resources/rebel.xml
**/src/main/resources/rebel-remote.xml
rebel.xml
rebel-remote.xml

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

**/.project/*
*/.project
.project

*.iml
**/.idea/
*/.idea/
/.idea/

# Logs #
*/logs/

*.backup